doctype html
html
  head
    meta(charset='UTF-8')
    title Hi, Bro!
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='vendor/jquery/js/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    script(src='js/index-min.js')
  body
    #particles-js
      .container.body-content
        ul.list-inline
          h1.text-center Hi, Bro!
          li
            a.btn-social.btn-outline(href='https://github.com/drobyshev', data-toggle='tooltip', data-placement='bottom', title='GitHub')
              i.fa.fa-fw.fa-github
          li
            a.btn-social.btn-outline(href='https://vk.com/andrey.drobyshev', data-toggle='tooltip', data-placement='bottom', title='ВКонтакте')
              i.fa.fa-fw.fa-vk
          li
            a.btn-social.btn-outline(href='https://t.me/AndreyDrobyshev', data-toggle='tooltip', data-placement='bottom', title='Telegram')
              i.fa.fa-fw.fa.fa-telegram
          li
            a.btn-social.btn-outline(href='https://api.whatsapp.com/send?phone=79376659322', data-toggle='tooltip', data-placement='bottom', title='WhatsApp')
              i.fa.fa-fw.fa-whatsapp
          li
            a.btn-social.btn-outline(href='mailto:andrey.drobyschev@gmail.com', data-toggle='tooltip', data-placement='bottom', title='Email')
              i.fa.fa-fw.fa-envelope
        footer
          p Andrey Drobyshev © 2017
    script(src='vendor/particles.js/js/particles.js')
    script(src='js/particles-min.js')
