doctype html
html
  head
    meta(charset='UTF-8')
    title Hi, Bro!
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='dist/css/style.css')
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='dist/js/index-min.js')
  body
    #particles-js
      .container.body-content
        ul.list-inline
          h1.text-center Hi, Bro!
          li
            a.btn-social.btn-outline(href='https://github.com/drobyshev', data-toggle='tooltip', data-placement='bottom', title='GitHub')
              i.fa.fa-fw.fa-github
          li
            a.btn-social.btn-outline(href='https://gitlab.com/drobyshev', data-toggle='tooltip', data-placement='bottom', title='GitLab')
              i.fa.fa-fw.fa-gitlab
          li
            a.btn-social.btn-outline(href='https://dribbble.com/drobyshev', data-toggle='tooltip', data-placement='bottom', title='Skype')
              i.fa.fa-fw.fa.fa-skype
          li
            a.btn-social.btn-outline(href='https://t.me/AndreyDrobyshev', data-toggle='tooltip', data-placement='bottom', title='Telegram')
              i.fa.fa-fw.fa.fa-telegram
          li
            a.btn-social.btn-outline(href='mailto:andrey.drobyschev@gmail.com', data-toggle='tooltip', data-placement='bottom', title='Email')
              i.fa.fa-fw.fa-envelope
        footer
          p Andrey Drobyshev © 2017
    script(src='vendor/particles.js/particles.min.js')
    script(src='dist/js/particles-min.js')
